@import "styles/variables.css";

:root {
  --cell-size: 60px;
  --cell-size-small: 40px;
  --cell-wave-width: 20px;
  --cell-wave-width-small: 15px;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: var(--color-blue);
  margin: 1px;
}

.cell.small {
  height: var(--cell-size-small);
  width: var(--cell-size-small);
}

.cell:hover,
.cell:focus,
.cell:active {
  background-color: color(var(--color-blue) shade(5%));
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(var(--cell-wave-width) * 1.5);
}

.cell.small .content {
  width: calc(var(--cell-wave-width-small) * 1.5);
}

.hit {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.wave {
  display: flex;
  height: 3px;
  width: var(--cell-wave-width);
  background-color: color(var(--color-blue) shade(20%));
  margin-bottom: 3px;
}

.cell.small .wave {
  width: var(--cell-wave-width-small);
}

.wave:last-of-type {
  align-self: flex-end;
}
