@import "styles/variables.css";

:root {
  --cell-size: 3.75em;
  --cell-size-small: 2.5em;
  --cell-wave-width: 20px;
  --cell-wave-width-small: 15px;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: var(--color-blue);
  margin: 1px;
}

.cell.small {
  height: var(--cell-size-small);
  width: var(--cell-size-small);
}

.cell.disabled:hover,
.cell.disabled:focus,
.cell.disabled:active {
  cursor: not-allowed;
}

.cell:hover,
.cell:focus,
.cell:active {
  background-color: color(var(--color-blue) shade(5%));
  cursor: pointer;
}

.cell:focus {
  z-index: 2;
  outline-style: auto;
  outline-color: color(var(--color-blue) shade(50%));
  outline-offset: 1px;
  outline-width: 3px;
}

.cell:focus:not(.hit) > div {
  display: none;
}

.cell:focus:not(.hit)::after {
  content: '💣';
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(var(--cell-wave-width) * 1.5);
}

.cell.small .content {
  width: calc(var(--cell-wave-width-small) * 1.5);
}

.water.hit {
  background-color: color(var(--color-blue) shade(5%));
}

.hit {
  background-color: color(var(--color-blue) shade(30%));
}

.hit-content {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.boat.debug {
  background-color: color(var(--color-blue) shade(10%));
}

.wave {
  display: flex;
  height: 3px;
  width: var(--cell-wave-width);
  background-color: color(var(--color-blue) shade(20%));
  margin-bottom: 3px;
}

.cell.small .wave {
  width: var(--cell-wave-width-small);
}

.wave:last-of-type {
  align-self: flex-end;
}
