.board {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: opacity .5s ease-in-out;
  margin: 10px;
}

.board[disabled] {
  display: none;
}

@media screen and (min-width: 991px) {
  .board[disabled] {
    display: flex;
  }
}

.number {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 48px;
}

.board[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
}

.header.vertical {
  flex-direction: column;
  margin-top: 20px;
  height: 100%;
}

.header.vertical .column:first-child {
  height: 61px;
}

.header.vertical .column {
  width: auto;
  align-items: center;
  padding-right: 10px;
  height: 3.85em;
}

.header.vertical.small .column {
  height: 2.64em;
}

.column {
  display: flex;
  justify-content: center;
  width: 3.75em;
}

.small .column {
  width: 2.5em;
}
