.board {
  position: relative;
  transition: opacity .5s ease-in-out;
  margin: 10px;
}

.number {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 48px;
  font-family: sans-serif;
}

.board[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.row {
  display: flex;
  flex-direction: row;
}
