html,
body,
body > div {
  width: 100%;
  height: 100%;
  margin: 0;
}

html,
body {
  font-family: 'Fira Mono', monospace;
}

.app {
  display: flex;
  justify-content: center;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.board {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .app {
    flex-direction: row;
    justify-content: space-around;
  }

  .board {
    padding-top: 30px;
  }
}

@media screen and (max-width: 992px) {
  .current {
    margin-bottom: 10px;
  }
}
