:root {
  --boat-radius: 3px;
  --hit-background-color: rgb(22, 199, 46);
  --boat-background-color: rgb(12, 38, 55);
  --enemy-background-color: rgb(233, 143, 127);
}

.boat {
  display: flex;
  flex-direction: row;
  margin: 3px 0;
}

.block.hit {
  border-color: var(--hit-background-color);
  background-color: color(var(--hit-background-color) tint(40%));
}

.block {
  height: 20px;
  width: 40px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--boat-background-color);
  background-color: color(var(--boat-background-color) tint(80%));
}

.block.enemy.hit {
  border-color: var(--enemy-background-color);
  background-color: color(var(--enemy-background-color) tint(40%));
}

[dir="ltr"] .block {
  border-left-style: none;
}

[dir="rtl"] .block {
  border-right-style: none;
}

[dir="ltr"] .block:first-child {
  border-left-style: solid;
  border-top-left-radius: var(--boat-radius);
  border-bottom-left-radius: var(--boat-radius);
}

[dir="rtl"] .block:first-child {
  border-right-style: solid;
  border-top-right-radius: var(--boat-radius);
  border-bottom-right-radius: var(--boat-radius);
}

[dir="ltr"] .block:last-child {
  border-top-right-radius: var(--boat-radius);
  border-bottom-right-radius: var(--boat-radius);
}

[dir="rtl"] .block:last-child {
  border-top-left-radius: var(--boat-radius);
  border-bottom-left-radius: var(--boat-radius);
}
